<!DOCTYPE html>
<html>
  <head>
    <title>Mealplanx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-white'>
    <%= yield %>
  </body>
</html>
